@page "/datos"

<h1>Completa tus Datos</h1>

<p role="status">Current count: @currentCount</p>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}


@code {

}
