@page "/pago"

<PageTitle>Pago</PageTitle>

<h1>Realizar tu pago</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Seleccionar Forma de Pago</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
