<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">WebAppSegurosTocToc</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Plan">
                <span class="oi oi-plus" aria-hidden="true"></span> Elige tu plan
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cotizacion">
                <span class="oi oi-plus" aria-hidden="true"></span> Solicita tu cotizacion
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pago">
                <span class="oi oi-plus" aria-hidden="true"></span> Realiza tu pago
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="datos">
                <span class="oi oi-plus" aria-hidden="true"></span> Completa tus datos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="emision">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Emision
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
